/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.xml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
docker/**/*.log
docker/mailpit/data
docker/redis/data
docker/ssl
docker/mysql/keys/private.pem
docker/mysql/logs/*.json