[mysqld]
default_authentication_plugin=caching_sha2_password

log_error_services='log_filter_internal; log_sink_internal; log_sink_json'

log-error=/var/log/mysqld.log

log_error_verbosity=2

caching_sha2_password_private_key_path=/usr/local/mysql/private.pem
caching_sha2_password_public_key_path=/usr/local/mysql/public_key.pem

skip-host-cache

skip-name-resolve

datadir=/var/lib/mysql

socket=/var/run/mysqld/mysqld.sock

secure-file-priv=/var/lib/mysql-files

pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/